
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  width:100%;
  color: #4C5059;
  font-size:16px;
}

body.modalIsOpen {
  height: 100vh;
  overflow: hidden;
}
button:hover{
  cursor: pointer;
}

li{
  list-style:none;
  font-weight:400;
}
.error{
  color:red;
  font-size:small;
}

a{
  text-decoration:none;
  color:inherit;
}

.pad1{
  padding:0.8rem 1rem;
}

.transBtn{
  background:transparent;
  border:none;
  outline:none;
}
h2{ 
  font-size:32px;
  font-weight:600;
}
h3, .signHeading{
  color: #084482;
}

h4{
  color: #353A45;

}

h5{
  font-size:16px;
  font-weight:400;
}

.skillFlex{
  display:flex;
}
p{
  font-size:16px;
  font-weight:400;
}

button{
  background:transparent;
  outline:none;
  border:none;
}

.dltBtn{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
}

.redbg{
  
  background:#df4531;
  color:#fff;
}

.smallScreenMenu{
  display:none;
}
/* PAGE HEADER */
.smallScreenHeader{
  display:none;
}


.pageHeader{
  width:100%;
  display:flex;
  justify-content: end;
  padding: 1rem;
  background:#FFFFFF;
  box-shadow: 0px 4px 12px 0px #A3A3A340;
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:800;
}
.pageHeader.bigScreenHeader{
  display:flex;
}

.grouping2{
  display:flex;
 justify-content: flex-end;
 align-items:center;
 width:20%;
  gap:1rem;
}

.headerContent{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:45%;
  padding:0.5rem 1rem;
  margin-right:1rem;
 z-index: 200;
}

.availability{
  display:flex;
  align-items:center;
  gap:1rem;
}
.availability .dotCont, .ballCont {
  display:flex;
  border:1px solid #084482;
  background:#084482;
  height:28px;
  width:52px;
  border-radius:1rem;
}



.availability .dotCont .dot, .ballCont .ball{
  background:#fff;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:0.1rem;
  transform:translateX(0);
}
/* input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
} */


.availability .dotCont .dot.active{
  transform:translateX(120%);
}

.headerContent .profileBtn{
  display:flex;
  align-items:center;
  justify-content: space-between;
  gap:0.5rem;
  padding:0 1rem;
  border-radius:1rem;
  position:relative;
  z-index:900;
}

.transBtn.bigScreen{
  display:flex;
}
.transBtn.smallScreen{
  display:none;
}

.profileLft{
  display:flex;
  align-items:center;
  text-align: left;
  gap:0.3rem;
}

.toggleMenu{
  display:flex;
  position:absolute;
  bottom:-200%;
  left:1rem;
  padding:1rem;
  flex-direction:column;
  background:#fff;
  border-radius:5px;
  gap:1rem;
  box-shadow: 2px 8px 20px 0px #B5B5B566;
  width:100%;
  z-index:999;
}

.toggleMenu.show{
  display:grid;
}


.toggleMenu .profileLink2{
  color:#C23826;
}


/* PAGE NAVIGATION */
/* ============= */
/* ============= */

.pageNavigation{
  position:fixed;
  width:15.2rem;
  height:100vh;
  background: #084482;
  top:-1px;
  bottom:0;
  left:0;
  display:flex;
  flex-direction:column;
  padding:1rem 0;
  z-index:802;
}

.menuOverlay, .profileOverlay{
  display:none;
}
.pageNavigation .logo{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:1.5rem;

  
}

.borderLine{
  width:calc(100% - 2rem);
  height:1px;
  background:#fff;
  margin:1rem auto;
}

.navCont{
  display:flex;
  flex-direction:column;
  padding:1.5rem 0;

}

.navItem{
  padding:0.7rem 1.5rem;
  font-size:1rem;
  color:#fff;
}
.navItem:hover{
  background: #00AEFF;
}


/* DASHBOARD */
/* ================= */
/* ================= */
/* ================= */

.dashboard,
 .marginTL{
  display:flex;
  flex-direction:column;
  width:calc(100% - 255px);
  margin-left: 243px;
  margin-top: 120px;
  padding:1.5rem;
  padding-right:2.5rem;
}

.dashboard .cards{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  gap:1rem;
  text-align:center;
  padding:1rem 0
}

.dashboard .cards .card{
  width:calc(33% - 2rem);
  height:150px;
  padding:1rem 1.5rem;
  background:#fff;
  border-radius:10px;
  box-shadow: 0px 4px 12px 0px #A3A3A340;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  
}

.cards p{
  color:#fff;
}

.dashboard .cardCount{
  font-weight:500;
}

.dashboard .card.card0{
  background:#084482;
  color:#fff;
}

.dashboard .card.card1{
  background:#5C95C5;
  color:#fff;
}

.dashboard .card.card2{
  background:#33BEFF;
  color:#fff;
}

/* Grid 2 */
/* ================= */
/* ================= */
/* ================= */
/* ================= */

.grid2{
  display:flex;
  justify-content:space-between;
  width:100%;
  padding:1rem 0;
}


.contactInfoSection{
  width:55%;
}

.contactInfoContainer{
  display:grid;
  border-radius:1rem;
  grid-template-columns: 1fr 1fr;
  width:100%;
  gap:0.2rem;
  padding:1rem 0;
}

.contactInfoContainer .contactProfile,
.contactInfoContainer .contactAddress,
.softwareAssessmentContainer{
  padding:1rem;
  background:#fff;
}

.contactInfoContainer .contactProfile{
  border-radius:1rem 0 0 1rem;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  

}

.contactInfoContainer .contactAddress{
  border-radius:0 1rem 1rem 0;
}

.displayPhoto{
  border-radius:50%;
  width:50%;
}

.contactProfile .name{
  font-size:24px;
  font-weight:600;
  padding:1rem 0;
}
.contactAddress .address{
  display:flex;
  gap:0.5rem;
  padding:1rem 0;
}

.softwareAssessmentSection{
  width:30%;
  border-radius:1rem;
}

.softwareAssessmentContainer{
  width:100%;
  border-radius:1rem;
  margin:1rem 0;
}

.assessment{
  width:100%;
  display:flex;
  flex-direction:column;
  gap:1rem;
  padding:1rem 0;
}

.slider-container{
  position: static;
    overflow: hidden;
}
.rc-slider-disabled {
  cursor: not-allowed; /* Indicate it's disabled */
  opacity: 0.7; /* Make the slider appear dimmed */
}

/* employeeProfile */
/* =================== */
/* =================== */
/* =================== */
/* =================== */

.employeeProfile{
  display:flex;
  flex-direction:column;
  width:35%; 
  max-height:700px;
  align-items:center;
  justify-content:center;
}

.employeeProfile .top{
  text-align:center;
  line-height: 34px;
  margin:1rem;
}

.employeeProfile .addressSec{
  border-top: 1px solid #E7EAEC ;
  border-bottom: 1px solid #E7EAEC ;
}

.profilePage{
  flex-direction:row;
  width:calc(100% - 250px);
  gap:1rem;
  justify-content: space-between;

}

.radius5px{
  border-radius:5px;
}

.padd1{
  padding:1rem;
}

.spaceBet{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:1rem;
}

.bgF{
  background:#fff;
}

.blueBg{
  background: #00AEFF;
  color:#fff;
}

.blueBg.grayBg{
  background:gray;
}



.flexColumn{
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.mb1{
  margin-bottom:1rem;
}

.lightShad{
  box-shadow: 2px 8px 20px 0px #B5B5B533;
}
li{
  list-style: none;
}

.w50{
  width:50%;
}
.w80{
  width:calc(100% - 35%);
}

.rad50{
  border-radius: 50%;
}

.signinFlex{
  display:flex;
}


/* MODAL  */
/* ================ */
/* ================ */
/* ================ */
/* ================ */
/* ================ */
.skillModal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
 }


.editProfileBtn{
  padding:1rem 2rem;
  margin:2rem auto;
  display:flex;
  align-items: center;
  white-space:nowrap;
}

.portfolioBtn, .cvBtn{
  padding:0.5rem 1rem;
  
}


.overlay{
  z-index:998;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0, 0, 0, 0.04);
  height:100vh;
  width:100%;
}


.skillTitle{
  display:flex;
  justify-content:start;
  align-items:center;
  gap:1rem;
  padding:1rem 0 ;
}

.smallScreenNotification{
  display:none;
}

.skills li{
  border-top: 1px solid #E7EAEC;

}

.topFles{
  margin:1rem 0;
}

.headOver{
  z-index:998;
  position:fixed;
  /* width:100%;
  top:0;
  left:0;
  right:0;
  background:red; */
}


.modal{
  width:35%;
  z-index: 999;
}
.modal input[type='text'],  .modal input[type='email'], .modal input[type='password'], .modal input[type='tel'], #socialLink{
  width:100%;
  padding:0.7rem 1rem;
  outline:none;
  border: 1px solid #337AB7;
  margin:0.7rem auto;
}

.modal h5{
  margin-top:1.5rem;
}

.modal h4{
  padding:1rem 0 ;
  border-bottom:1px solid #E7EAEC;
}

.addSkillBtn{
  padding:0.8rem 2rem;
 
  margin: 1.3rem auto;
  display:flex;
  justify-content:center;
}
.menuBtn{
  display:none;

}

/* EMPLOYER DASHBOARD */
/* ================= */ 
/* ================= */
/* ================= */
/* ================= */

.employer.flexColumn{
  flex-direction:column-reverse
}

.employer .w50{
  width:100%;
}

/* MOBILE VIEW */
/* ================ */
/* ================ */
/* ================ */
/* ================ */

@media(max-width:1024px){
 
  .menuBtn{
    display:block;
  }
.pageHeader{
  justify-content: space-evenly;
  position:sticky;
  align-items:center;
}
  
.headerContent{
  justify-content: space-between;
  align-items: center;
  width:75%;
  padding:0.5rem 1rem;
  margin-right:1rem;
}
.grayBg{
  background:gray;
}



.availability .dotCont {
  display:flex;
  border:1px solid #084482;
  background:#084482;
  height:16px;
  width:30px;
  border-radius:1rem;
  align-items:center;
}

.availability .dotCont .dot {
  background: #fff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin: 0.1rem;
  transform: translateX(0);
}
.availability .dotCont .dot.active {
  transform: translateX(100%);
}
/* PAGE NAVIGATION */
/* ============= */
/* ============= */

.pageNavigation{
  position:fixed;
  width:15.2rem;
  height:100vh;
  background: #084482;
  top:0;
  
  transform:translateX(-150%);
  transition:transform 0.4s ease-in-out;  
}

.menuOverlay{
  display:block;
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:90;
  background: rgba(0,0,0,0.03)
}

.pageNavigation.show{
  transform:translateX(0);
}


/* DASHBOARD */
/* ================= */
/* ================= */
/* ================= */

.dashboard,
 .marginTL{
  width:calc(100% - 10%);
  margin: auto;
  padding:1.5rem;
}

.grid2{
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:1rem;
}

.contactInfoSection{
  width:100%;
}

.contactInfoContainer{
  width:100%;
  gap:1rem;
}

.softwareAssessmentSection{
  width:70%;
  flex:1;
}


.softwareAssessmentSection .sectionTitle{
 text-align:center;
}


/* employeeProfile */
/* =================== */
/* =================== */
/* =================== */
/* =================== */

.employeeProfile{
  display:flex;
  flex-direction:column;
  width:45%; 
  max-height:700px;
  align-items:center;
  justify-content:center;
}
.profDis{
  display:none;
}

}


@media(max-width: 760px ) {

  .transBtn.bigScreen{
    display:none;
  }
  .transBtn.smallScreen{
    display:flex;
  }
  .smallScreenNotification{
    display:block;
  }
/* .pageHeader.bigScreenHeader{
  display:none;
} */
  /* .smallScreenHeader{
    width:100%;
    display:flex;
    justify-content: end;
    padding: 1rem;
    background:#FFFFFF;
    box-shadow: 0px 4px 12px 0px #A3A3A340;
    position:fixed;
    top:0;
    right:0;
    left:0;
  } */

  .ballCont{
    background:#E7EAEC;
    display:flex;
    align-items:center;  
    justify-content: space-evenly;
    border:1px soliid #E7EAEC;
    
  }
  .notificationIcon{
    width:100%;
  }
  .pimage{
    width:26px;
  }
  .notification{
    width:100%;
    display:flex;
    justify-content:flex-start;
  }
  .headerContent .profileBtn {
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    width:100%;
}
 
  .toggleMenu{
    bottom:-350%;
  }

  .ballCont .ball, .ballCont .expan{   
    display:inline-block;
   
  }
  .profDis.ballCont{
    min-width: 50px;
  }
   .ball.active{
    transform:translateX(80%); 
  }
.expan.active{
    transform:translateX(-250%); 
  }

  p, h5{
    font-size:14px;
  }

.headerContent{
 
  display:none;
  flex-direction:column;
  position:fixed;
  top:4rem;
  right:0.7rem;
  background:#ffffff;
  height:auto;
  justify-content: start;
  gap:1rem;
  padding:1rem ;
  align-items: center;
  width:40%;
  min-width: 190px;
  margin-right:0;
  z-index: 140;
  border-radius:10px;
}
.availability {
 
  gap: 0.5rem;
}

  .headerContent.show{
       display:flex
  }

  .smallScreenMenu{
    display:flex;
    justify-content:space-between;
    width:100%;
  }

  .profileOverlay{
    display:block;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:90;
 
  }

  /* DASHBOARD */
/* ================= */
/* ================= */
/* ================= */

.dashboard,
.marginTL{
 width:calc(100% - 5%);
 padding:1rem;
}


.contactInfoSection{
  width:80%;
}

.contactInfoContainer{
  grid-template-columns: 1fr ;
  width:100%;

}


.contactInfoContainer .contactProfile{
  border-radius:10px;
}

.contactInfoContainer .contactAddress{
  border-radius:10px ;
}
  
.contactAddress{
  line-height:0.5rem;
}
.contactAddress h5{
  margin-top:1rem;
}
.contactAddress .address {
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.dashboard .cards{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  gap:1rem;
  text-align:center;
  padding:0.7rem 0
}

.dashboard .cards .card {
  width: calc(33% - 3%);
  height: 150px;
  padding: 0.7rem 1rem;
}

.cardCount{
  font-size:26px;
}
.cardTitle{
  font-size:14px;
}

.sectionTitle{
  text-align:center;
}

/* employeeProfile */
/* =================== */
/* =================== */
/* =================== */
/* =================== */

.employeeProfile{
  display:flex;
  flex-direction:column;
  width:100%; 
  max-height:700px;
  align-items:center;
  justify-content:center;
  height:auto;
}
.profilePage {
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.cards p{
  color:#fff;
  font-size:14px;
}

.dashboard .cardCount{
  font-weight:300;
}


.contactInfoSection{
  width:100%;
}
.w80 {
  width: calc(100% );
}
.softwareAssessmentSection{
  width:100%;
}

.assessment {
  gap: 0.7rem;
  padding: 0.7rem 0;
}

.addressSec .address {
  display:flex;
  gap:0.5rem;
}

.addressSec .address span{
  word-wrap: break-word;
  overflow-wrap: break-word; 
}


.modal {
  width: 90%;
}


}



@media(max-width:480px) {

  
  .headerContent{
    width:50%;
    padding:1rem;
    border-radius: 10px;
    z-index: 140;
  }

  /* DASHBOARD */
/* ================= */
/* ================= */
/* ================= */

.dashboard,
.marginTL{
 width:100% ;
 padding:1rem;
}


.contactInfoSection{
  width:100%;
}

.contactInfoContainer{
  width:100%;
}

.dashboard .cards{
  flex-direction:column;
  gap:0.5rem;
  padding:0.7rem 0;
  width:100%;
}

.dashboard .cards .card {
  width: 100%;
  height: auto;
  padding: 0.7rem 1rem;
  border-radius:5px;
}

.assessment {
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.editProfileBtn {
  padding: 0.8rem 1.5rem;
  margin: 1rem auto;

}

.skillTitle {
  padding: 0.7rem 0;
}
.skillFlex{
  flex-direction:column;
  gap:0;
}
.skillFlex .addSkillBtn{
  width:100%;
  margin-top:0.5rem;
  
}
.addSkillBtn{
  width:100%;
}
.modal {
  width: 100%;
}





}